*.bin
*.o
**/target/
kernel/build/
latex/main.aux
latex/main.fls
latex/main.log
latex/main.out
latex/main.toc
latex/main.synctex.gz
latex/main.fdb_latexmk
latex/main.bbl
latex/main.blg
poster/main.aux
poster/main.bbl
poster/main.blg
poster/main.fdb_latexmk
poster/main.fls
poster/main.log
poster/main.nav
poster/main.out
poster/main.snm
poster/main.synctex.gz
poster/main.toc
